html:root{
   --light-grey: rgb(233,233,233);
   --off-white: rgb(245,245,245);  
   --blue:rgb(16,201,195);
}

.bg-header{
   background-image: url(../media/bg-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.portfolio{
   width: 100%;
   height: 100%;
   margin: auto;
   padding:0;
}
.client{
   width: 100%;
   height: 100%;
   margin: auto;
   padding:20px;

}
.row-load{
   background-color:var(--off-white);
}
.btn-bg-blue{
   background-color:var(--blue) ;
}
.bg-black{
   background-color: black;
}

.h-activ:hover{
   color: var(--blue);
}

.mg-b{
   margin-bottom: 15%;
}

.mg-t{
   margin-top: 15%;
}

.bg-blue{
   background-color: var(--blue);
}

ul {
   list-style:none;
}
.container-client{
   margin-left: 20%;
}
.container-fluid-testimonials{
   background-color: var(--blue);
}