html:root{
   --off-white: rgb(245,245,245);
   --blue: rgb(16,201,195);
   --light-grey: rgb(216,216,216); 
}

.bg-header{
   background-image: url(../media/bg-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.h-activ:hover{
   color: var(--blue);
}

.mg-b{
   margin-bottom: 15%;
}

.mg-t{
   margin-top: 15%;
}

.bg-blue{
   background-color: var(--blue);
}

.bg-lgt-grey{
   background-color: var(--light-grey);
}

